body{
    background-color: #e0eaf0;
}

.btn-neo{
    border-radius: 12px;
    border-radius: 15px;
    background-color: #e0eaf0;
    box-shadow:  20px 20px 60px #bec7cc, -20px -20px 60px #ffffff;
}

.btn-neo:hover{
    border-radius: 12px;
    border-radius: 15px;
    background-color: #e0eaf0;
    box-shadow:  20px 20px 46px #aab2b6, -20px -20px 46px #ffffff;
}

.btn-gradient-purple{
    background: -webkit-linear-gradient(40deg,#ff6ec4, #7873f5);
    color: white;
}

.btn-gradient-purple:hover{
    background: -webkit-linear-gradient(40deg,#ff6ec4, #7873f5);
    color: white;
}


.circle{
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    position:relative;
}

.circle > .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: initial;
    height: initial;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin: 0.5em;
    background-color: #e0eaf0;
}

hr.faded {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 2.5em;
}


.custom-icon{
    background: -webkit-linear-gradient(40deg,#ff6ec4, #7873f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.custom-card{
    display: flex;
    justify-content: center;
    border-radius: 12px;
    border-radius: 15px;
    background-color: #e0eaf0;
    box-shadow:  7px 7px 14px #d7e1e6, 
             -7px -7px 14px #e9f3fa;
    margin: 0.8em;
    height: 400px;
}

.custom-card:hover{
    display: flex;
    justify-content: center;
    border-radius: 12px;
    border-radius: 15px;
    box-shadow:  7px 7px 14px #c7d0d6, -7px -7px 14px #f9ffff;
    -webkit-transition: box-shadow 500ms ease-in-out;
    -ms-transition: box-shadow 500ms ease-in-out;
    transition: box-shadow 500ms ease-in-out;
    background-color: #e0eaf0;
    margin: 0.8em;
    height: 400px;

}

@media only screen and (max-width: 768px){
    
    .custom-card{
        display: flex;
        justify-content: center;
        border-radius: 12px;
        border-radius: 15px;
        background-color: #e0eaf0;
        box-shadow:  20px 20px 60px #bec7cc, -20px -20px 60px #ffffff;
        margin: 1em;
        
    
    }

}