<!DOCTYPE html>
<html lang="pt-br" style="scroll-behavior: smooth;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mdb.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/home/matheus/Documentos/mdb/index.css">
    <title>Inicial</title>
</head>

<body>
    <th:block  th:include="/componentes :: modalLoginForm"></th:block>
    <nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="fixed-action-btn" style="bottom: 10px; right: 10px;">
                        <a class="btn-floating btn-lg" style="background-color: #e0eaf0;">
                            <i class="custom-icon fas fa-user"></i>
                        </a>
                        <ul class="list-unstyled">
                            <span>sair</span>
                            <li><a class="btn-floating red"><i class="fas fa-sign-out-alt"></i></a></li>
                            <span>Perfil</span>
                            <li><a class="btn-floating yellow darken-1" data-toggle="modal" data-target="#modalLoginForm"><i class="fas fa-user"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <header class="mt-3 mb-3">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-md-2 col-md-8">
                    <h1 class="text-center">Crawler</h1>
                    <p class="lead text-center ml-5 mr-5">
                        Somos uma plataforma sem fins lucrativos utilizada para auxiliar na transparência
                        de informações relacionadas a prefeitura de Mogi das Cruzes
                    </p>
                </div>
            </div>
        </div>
    </header>

    <main class="mb-0">
        <section id="apresentacao">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="custom-card col-md-2">
                        <div class="circle m-4 purple-gradient align-items-center">
                            <div class="circle">
                                <i class="custom-icon fas fa-user-alt fa-2x"></i>
                            </div>
                        </div>
                        <p class="ml-2 mr-2 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                            convallis rhoncus justo ut malesuada. Ut mauris mi, ultrices eu urna porttitor, eleifend
                            aliquet ante.</p>
                    </div>
                    <div class="custom-card col-md-2">
                        <div class="circle m-4 purple-gradient align-items-center">
                            <div class="circle">
                                <i class="custom-icon fas fa-file-contract fa-2x"></i>
                            </div>
                        </div>
                        <p class="ml-2 mr-2 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                            convallis rhoncus justo ut malesuada. Ut mauris mi, ultrices eu urna porttitor, eleifend
                            aliquet ante.</p>
                    </div>
                    <div class="custom-card col-md-2">
                        <div class="circle m-4 purple-gradient align-items-center">
                            <div class="circle">
                                <i class="custom-icon fas fa-chart-pie fa-2x"></i>
                            </div>
                        </div>
                        <p class="ml-2 mr-2 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                            convallis rhoncus justo ut malesuada. Ut mauris mi, ultrices eu urna porttitor, eleifend
                            aliquet ante.</p>
                    </div>
                    <div class="custom-card col-md-2">
                        <div class="circle m-4 purple-gradient align-items-center">
                            <div class="circle">
                                <i class="custom-icon fas fa-search fa-2x"></i>
                            </div>
                        </div>
                        <p class="ml-2 mr-2 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                            convallis rhoncus justo ut malesuada. Ut mauris mi, ultrices eu urna porttitor, eleifend
                            aliquet ante.</p>
                    </div>
                    <div class="custom-card col-md-2">
                        <div class="circle m-4 purple-gradient align-items-center">
                            <div class="circle">
                                <i class="custom-icon fas fa-money-check-alt fa-2x"></i>
                            </div>
                        </div>
                        <p class="ml-2 mr-2 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
                            convallis rhoncus justo ut malesuada. Ut mauris mi, ultrices eu urna porttitor, eleifend
                            aliquet ante.</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 m-0 p-0 d-flex justify-content-center">
                        <a href="#primeiroPasso">
                            <button class="btn btn-gradient-purple">Começar</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section id="primeiroPasso" class="d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center mb-5">
                        <h2>Primeiro passo</h2>
                        <p>Selecione uma categoria de pesquisa</p>
                    </div>
                    <div class="offset-md-3 col-md-6"">
                        <a href="#segundoPasso">
                            <select class="mdb-select md-form colorful-select dropdown-ins" >
                                <option value="" disabled selected>Selecione uma opção</option>
                                <option value="1">Cargo</option>
                                <option value="2">Nome</option>
                                <option value="3">Número de lei</option>
                                <option value="2">Rendimentos</option>
                                <option value="2">Regime</option>
                            </select>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section id="segundoPasso" class="d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-5 text-center">
                        <h2>Segundo passo</h2>
                        <p>Digite sua pesquisa</p>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-3 col-md-6">
                        <select class="mdb-select md-form colorful-select dropdown-ins" searchable="Digite aqui..">
                            <option value="" disabled selected>Digite aqui..</option>
                            <option value="1">USA</option>
                            <option value="2">Germany</option>
                            <option value="3">France</option>
                            <option value="4">Poland</option>
                            <option value="5">Japan</option>
                          </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-gradient-purple">Pesquisar</button>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <script type="text/javascript" src="/home/matheus/Documentos/mdb/index.js"></script>

</body>

</html>