<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/th"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/layout/stylesheets/inicial/index.css}">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <title>Inicial</title>
</head>
<body>
    <div class="container-fluid gradient-bg-animation">
        <div class="row p-0 m-0">
            <div class="col-md-12 mt-3" style="display: flex;
            align-items: center; justify-content: center; color: #201f2a;">
                <h1 class="p-0 text-center">Crawler MG</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 p-0 mt-2 mb-2" style="display: flex;
            align-items: center; justify-content: center; color: #201f2a;">
                <p class="text-center" id="subtitulo">Somos uma plataforma sem fins licrativos utilizada para auxiliar na
                    transparência <br> de informações relacionadas a prefeitura de Mogi das Cruzes
                </p>
            </div>
        </div>
    </div>
    <section class="container-fluid">
    <div class="row" style="display: flex;
    align-items: center; justify-content: center">
    <div class="col-md-2">
        <div class="card d-flex" style="height: 45vh; background-color: #4a919e;">
            <div class="card-body">
            <h2 class="text-center">
                <i class="fas fa-money-check-alt fa-2x mt-3 mb-3"></i>
            </h2>
              <p class="card-text text-center">Acompanhe os salários dos cargos públicos.</p>
            </div>
          </div>
    </div>
            <div class="col-md-2">
                <div class="card d-flex" style="height: 50vh; background-color: #4a919e;">
                    <div class="card-body">
                    <h2 class="text-center">
                        <i class="fas fa-user fa-2x mt-3 mb-3"></i>
                    </h2>
                      <p class="card-text text-center">Observe de perto informações sobre seus representantes</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card d-flex" style="height: 55vh; background-color: #4a919e;">
                    <div class="card-body">
                    <h2 class="text-center">
                        <i class="fas fa-chart-pie fa-2x mt-3 mb-3"></i>
                    </h2>
                      <p class="card-text text-center">Compare informações por meio de gráficos simples e diretos</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card d-flex" style="height: 50vh; background-color: #4a919e;">
                    <div class="card-body">
                    <h2 class="text-center">
                        <i class="fas fa-file-contract fa-2x mt-3 mb-3"></i>
                    </h2>
                      <p class="card-text text-center">Leia sobre projetos de leis de diferentes categorias</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card d-flex" style="height: 45vh; background-color: #4a919e;">
                    <div class="card-body">
                    <h2 class="text-center">
                        <i class="fas fa-search fa-2x mt-3 mb-3"></i>
                    </h2>
                      <p class="card-text text-center">Pesquise por diversos parametros de pesquisa de forma facil</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-2 offset-md-5" style="display: flex;
            align-items: center; justify-content: center;">
                <button class="btn btn-darkcyan btn-block" style="border-color: #404040;">Pesquisar</button>
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>